@model List<BookingApiViewModel.Result>        
@{
    Layout = null;
    int count = 0;                            //değer tanımladık. sıfırdan başlıyor.
}




<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;                                       //Değer 1-1 artacak
            <tr>
                <th>@count</th>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-primary">Detaylar</a></td>
            </tr>
        }
    </table>
</div>